// color
$black: #000000;
$dark: #292D32;
$gray: #9197B3;
$gray-c: #B5B7C0;
$line-color: #EEEEEE;
$whitish: #F9FBFF;
$white: #FFFFFF;
$light-green: #16C098;
$dark-green: #008767;
$light-red: #FFC5C5;
$dark-red: #DF0404;
$dark-blue: #5932EA;